body{
	margin: 0;padding: 0;
	-webkit-font-smoothing: antialiased;
	/*font-family: SourceHanSansCN-Light;*/
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,span
{margin: 0;padding: 0}
h1,h2,h3,h4,h5,h6,input,textarea,select,button strong{font-size: 100%;font-weight: normal;}
div,p,ul,ol,li{margin:0;padding:0;}
li{list-style: none}
ul{list-style: none;}

/*@font-face { font-family: SourceHanSansCN-Light; src: url(../js/SourceHanSansCN-Light.otf); }*/
.clear{clear: both}
.share{
	width: 100%;height: auto;;
}
.share .share_vedio_content video{
	width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /*position: absolute;*/
}
.share_video_title{
	font-size: 1.2rem;
    color: #000;
    padding: 0.8rem;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #dbdbdb;
    padding-top:0;
}
.share_video_title h2{
	padding-bottom: 0.3em;
}
.share_video_title_p,
.share_title p
{font-size: 0.923rem; color: #888;font-weight: lighter;}
.share_video_title_p .clickicon{
	display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../images/dianzanicon.png) no-repeat center center;
   /* background-size: 80% 80%;  */
    vertical-align: middle;
    margin-right:0.2em;
}
.share_video_title_p.share_active .activeIcon{
	display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../images/activezanicon.png) no-repeat center center;
    vertical-align: middle;
    position: absolute;
    opacity: 0;
}
.share_title{
	padding: 0.8rem;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
}
.share_title_sum{
	position: absolute;
    left: 16%;
    top: 15%;
}
.share_list{
	margin-bottom: 80px;
}
.share_title_sum h2{font-size: 1.1em}
.share_title_sum,.share_list_detail{
	float: right;
}
.share_list_detail strong{
	font-weight: lighter;
    font-size: 0.65rem;
    color: #444;
    width: 60%;
}
.share_list_li{
	padding: 0.8em;
	position: relative;
}
.share_list_li a{
    text-decoration: none;
}
.share_list_li .righticon{
	display: inline-block;
    width: 10px;
    height: 49px;
    background: url(../images/riiconz.png) no-repeat center center;
    /*background-size: 80% 80%; */ 
    vertical-align: middle;
    float: right;
    margin-top: 8%;
}
.share_list_img{
	width:34%;
	vertical-align: middle;
}
.share_list_detail h3{
	font-size: 1rem;
	color: #000;
    font-size: 1rem;
    color: #000;
    width: 100%;
    text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
}
.share_list_detail h4{
	font-size: 0.9rem;
	color: #444;
	margin-top: 0.1rem;
     width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.share_list_detail{
	line-height: 1.5rem;
    position: absolute;
    left: 39%;
    top: 19%;
    width: 53%;
}
.share_list_look em{
	display: inline-block;
    width: 15px;
    height: 9px;
    background: url(../images/lookicon.png) no-repeat center center;
    /*background-size: 80% 80%;  */
    vertical-align: middle;
    margin-right: 0.2rem;
}
.share_list_like em{
	display: inline-block;
    width: 24px;
    height: 21px;
    background: url(../images/likeicon.png) no-repeat center center;
   /* background-size: 80% 80%;  */
    vertical-align: middle;
}
.flo_down{
	position: fixed;
    bottom: 0px;
    background: #fff;
    width: 94%;
    margin-left: 0.5em;
    height: 74px;
    background: url('../images/download.png') no-repeat;
    background-size: 100% 100%;
}
.flo_down span{
	font-size: 1.3rem;
    padding: 0 0.5em;
    display: inline-block;
}
.flo_down img{
	vertical-align: middle;
}
.share_video_title_p.share_active .clickicon {
	 background: url('../images/activezanicon.png') no-repeat;
	/* margin-top: 0.1rem;*/

}
.share_list_like{
	margin-left: 16%;
}
/**/
@media screen and (max-width: 320px){
    .share_list_detail{
     line-height: 1.3rem;
    position: absolute;
    left: 37%;
    top: 21%;
    width: 50%;
    font-size: 0.65rem
    }
    .share_list_detail h4{
	    font-size: 0.65rem;

    }
}
@media screen and (max-width: 375px) and (min-width: 321px){
     .share_list_detail h4{
	    font-size: 0.75rem;
    }
}
@media screen and (min-width: 610px){
	.flo_down{
		width: 97.5%;
	}
}

/*.share_video_title_p .activeIcon{
	display: inline-block;
    width: 20px;
    height: 18px;
    background: url() no-repeat center center;
    vertical-align: middle;
    position: absolute;
}*/
/*.share_video_title_p.share_active .activeIcon{
	-webkit-animation:zan-animate 1.5s;
	animation:zan-animate 1.5s;
}*/
.share_list_look img,.share_list_like img{
	margin-right: 0.2rem;
}
.poster{
	/*background: url(../images/songjia.png) no-repeat;*/
    width: 100%;
    height: 75%;
    /*height: 180px;*/
    /*background-size:100% 100%;
    background-repeat: no-repeat;*/
}
.share_vedio_content{
	position: relative;
}
/*点赞效果2016、2、17*/

.share_video_title_p.share_active .ranksum_zan_icon em{

    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../images/activezanicon.png) no-repeat center center;
   /* background-size: 80% 80%;  */
    vertical-align: middle;
    position: absolute;
    opacity: 0;
    /*z-index: 99;*/
}
.share_video_title_p.share_active .ranksum_zan_icon{
   background: url(../images/activezanicon.png) no-repeat center center; 
   position: relative;

   /*background-size: 60%;*/
}
.share_video_title_p .ranksum_zan_icon{
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../images/dianzanicon.png) no-repeat center center;
   /* background-size: 60%;  */
    vertical-align: middle;
        margin-right: 4px;
        position: relative;
}
.share_video_title_p.share_active .ranksum_zan_icon em{
    -webkit-animation:zan-animate 1.5s;
    animation:zan-animate 1.5s;
}
/*动画效果*/
@-webkit-keyframes zan-animate {
    0% {
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2, 1.2);
        opacity: 1;
        top: -1rem;
        display: inline-block;
       /* z-index: 99;*/
    }
   /* 10% {
        -webkit-transform: scale(1.4,1.4);
        transform: scale(1.4, 1.4);
        opacity: 1;
        top: -2.5rem;
        display: inline-block;
        z-index: 99;
    }
    15% {
        -webkit-transform: scale(1.6,1.6);
        transform: scale(1.6, 1.6);
        opacity: 1;
        top: -3rem;
        display: inline-block;
        z-index: 99;
    }*/
    25% {
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
        opacity: .6;
        top: -3.5rem;
    }
    50% {
        -webkit-transform: scale(2.2, 2.2);
        transform: scale(2.2, 2.2);
        opacity: .4;
        top: -4.5rem;
    }
    75% {
        -webkit-transform: scale(2.5, 2.5);
        transform: scale(2.5, 2.5);
        opacity: .2;
        top: -5rem;
    }
    100% {
       -webkit-transform: scale(3.2, 3.2);
        transform: scale(3.2, 3.2);
        opacity: 0;
        top: -6rem;
       /* display: none;*/
    }
}