@charset 'utf-8';
/*.bj6a5{ background-color: #2ca80c !important;}*/
.bjddd{ background-color: #ddd !important;}
/*.color66a{ color: #2ca80c !important;}*/
.activity .di-banner{ background: url("../images/activity/19189_banner.jpg") 0 0 no-repeat; background-size: cover; }
/*.activity .sm-txt:after{ content: '点击“我也想要”分享给微信小伙伴，刷脸赢微软Xbox One！活动每日00：00开始，截止8月4号00：00结束，前一日支持数不再计入当日排行榜中。邀请好友支持数量排行，第1名的用户可以获得微软Xbox One一台，第2名的用户可以获得Xbox One手柄一个，第3、4名的用户可以获得《Halo：士官长合集》游戏一套，5~10名用户可以获得Xbox精美小礼品一份，奖励将于众筹结束后的10个工作日内发货。已获奖用户不可再次参加该获奖活动。活动时间：2015年7月30日至2015年8月4日。'; font-size: 0.75rem;}*/
.jz.alertdiv .alertcode .codeImg{ background:url("../images/activity/19189code.png") 0 0 no-repeat; background-size: 100% 100%; }